@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
#register-page{
  background: url("https://cdn.wallpapersafari.com/11/88/RpvTds.jpg")  no-repeat center center fixed;
  background-size: cover;
}

.register-block{
  font-family: 'Montserrat', sans-serif;
  width:100%;
  padding : 50px 0;
  height : 100%;
  background-color: rgba(255,255,255, 0.6);
  background-blend-mode: luminosity;
}

.carousel-item{
  max-height: 100%;
}
.carousel-inner{
  border-radius:0 10px 10px 0;
}

.carousel-caption{
  text-align:left;
  left:5%;
}
.login-sec{
  padding: 50px 30px;
  position:relative;
}
.login-sec .copy-text{
  position:absolute;
  width:80%;
  bottom:20px;
  font-size:13px;
  text-align:center;
}
.login-sec .copy-text i{
  color:#FEB58A;
}
.login-sec .copy-text a{
  color:#E36262;
}
.login-sec h2{
  margin-bottom:30px;
  font-weight:800;
  font-size:30px;
  color: #DE6262;}

.login-sec h2:after{
  content:" ";
  width:100px;
  height:5px;
  background:#FEB58A;
  display:block;
  margin-top:20px;
  border-radius:3px;
  margin-left:auto;
  margin-right:auto;
}

.banner-text{
  width:70%;
  position:absolute;
  bottom:40px;
  padding-left:20px;
}

.banner-text h2{
  color:#fff;
  font-weight:600;
}

.banner-text h2:after{content:" ";
  width:100px; height:5px;
  background:#FFF;
  display:block;
  margin-top:20px;
  border-radius:3px;
}
.banner-text p{
  color:#fff;
}

.container{
  padding: 60px 35px 35px 35px;
  border-radius: 40px;
  background: transparent;

}

.logo{
  background: url('src/assets/img/spaceShip_50.png') no-repeat center center;
  background-size:contain;
  width:130px;
  height: 130px;
  border-radius: 50%;
  margin:0 auto;
  box-shadow:   /* logo shadow */  0px 0px 2px rgba(46, 49, 49, 1),  /* offset */  0px 0px 0px 5px rgba(46, 49, 49, 1);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.title{
  text-align: center;
  font-size: 32px;
  font-weight: bolder;
  padding-top: 20px;
  letter-spacing:4px;
  user-select: none;
  color: rgba(46, 49, 49, 1);
}

.sub-title{
  text-align: center;
  font-size: 18px;
  padding-top: 10px;
  letter-spacing: 4px;
  user-select: none;
}

.form-group{
  width: 100%;
  padding: 5px 5px 5px 5px;
}

.form-group input{
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  color: #555;
  padding: 20px 10px 20px 5px;
  text-align: center;
}
.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.username, .password, .email {
  margin-bottom: 30px;
  border-radius: 25px;
  background-color: rgba(46, 49, 49, 1);
  letter-spacing:4px;
}

.form-group svg{
  height: 30px;
  margin: 0 10px -3px 25px;
}

.register-in-button{
  outline: none;
  border:none;
  cursor: pointer;
  width:100%;
  height: 60px;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  letter-spacing:4px;
  color:#fff;
  text-align: center;
  background: rgb(72,121,202);
  transition: 0.5s;
}
.register-in-button{
  position: relative;
  background: #74B72E;
}

.register-in-button:hover {
  background: rgb(113,119,163);
}

.sign-in-button:active {
  background:#1da88a;
}
.link {
  padding-top: 20px;
  text-align: center;
}
.link a {
  text-decoration: none;
  color:#aaa;
  font-size: 15px;
}

.carousel-item img{
  border-radius: 40px;
}
::placeholder {
  color: rgba(218, 223, 225, 1);
  letter-spacing:2px;
}
