.register-block{
  background: #DE6262;
  background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262);
  background: linear-gradient(to bottom, #FFB88C, #DE6262);
  width:100%;
  padding : 50px 0;
  height : 100%;
}

.carousel-item{
  max-height: 100%;


}
.carousel-inner{
  border-radius:0 10px 10px 0;
}
.carousel-caption{
  text-align:left;
  left:5%;
}
.login-sec{
  padding: 50px 30px;
  position:relative;
}
.login-sec .copy-text{
  position:absolute;
  width:80%;
  bottom:20px;
  font-size:13px;
  text-align:center;
}
.login-sec .copy-text i{
  color:#FEB58A;
}
.login-sec .copy-text a{
  color:#E36262;
}
.login-sec h2{
  margin-bottom:30px;
  font-weight:800;
  font-size:30px;
  color: #DE6262;}

.login-sec h2:after{
  content:" ";
  width:100px;
  height:5px;
  background:#FEB58A;
  display:block;
  margin-top:20px;
  border-radius:3px;
  margin-left:auto;
  margin-right:auto;
}
.btn-login{
  background: #DE6262;
  color:#fff;
  font-weight:600;
}
.container{
  background: white;
}

