<header>
  <nav class="navbar navbar-expand-md navbar-custom fixed-top">
    <div class="navbar-brand">Geek of Planets</div>
      <div class="logged-user" *ngIf="isLoggedIn"  class="nav-link"> TEMP/Logged in as: {{getLoggedInUSerName()}}
    </div>
    <ul class="navbar-nav navbar-collapse justify-content-end inline-navbar">
      <li>
        <a *ngIf="isLoggedIn" class="nav-link" href="/logout" (click)=handleLogout()>Logout</a>
      </li>
      <li>
        <a *ngIf="!isLoggedIn" class="nav-link" href="/" (click)=handleLogout()>Not logged in</a>
      </li>
    </ul>
  </nav>
</header>
