.navbar-nav {
  flex-direction: row;
  user-select: none;
}
.navbar-brand{
  user-select: none;
  letter-spacing:4px;
  color: white;
  font-weight: bold;
}

.navbar-custom {
  background-color: transparent;
  letter-spacing:4px;
  color: white;
  box-shadow: 1px 0 5px 2px  #fff inset;
}

.nav-link{
  color: #74B72E;
}
