canvas {
  border: 1px black;
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 100vh;
  height: auto;
  background-image: url("https://cdn.wallpapersafari.com/11/88/RpvTds.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

}
