canvas {
  border: 1px black;
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 100vw;
  height: 100vh;
  background-image: url("https://images8.alphacoders.com/503/503792.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}



